.Button {
  padding: 8px 16px;
  border-radius: 2px;
  background: linear-gradient(
    315deg,
    rgba(28, 32, 23, 0.7) 5%,
    rgba(15, 96, 67, 0.7) 38%,
    rgba(28, 27, 31, 0.7) 52%,
    rgba(126, 102, 74, 0.7) 73%
  );
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.Button:hover,
.Button:focus {
  background-color: #303f9f;
}
